.footer{
    background-color: #343a40;
    color: white;

}

.footer a{
    color: white;

}

.footer a:hover{
    color: #0d6efd;

}

.errores{
    -webkit-box-shadow:0010px rgba(0,0,0,0.3);
    -moz-box-shadow:0010px rgba(0,0,0,0.3);
    -o-box-shadow:0010px rgba(0,0,0,0.3);
   background: red;
   box-shadow:0110px rgba(0,0,0,0.3);
   color: rgb(252, 252, 252);
   display: none;
   font-size: 12px;
   margin-top: -55px;
   margin-left: 400px;
   padding: 10px;
   position:absolute;
   font-style: italic;
   
}

